{% extends 'blog_info/documents/readBase.html' %}
{% load staticfiles %}
{% block body_block %}



<iframe width="560" height="315" src="https://www.youtube.com/embed/nVKK-WVW2uw" frameborder="0" allowfullscreen></iframe>

<p>Siddhartha then made his way to a place near Bodh Gaya in India, where he found a suitable site for meditation. There he remained, emphasizing a meditation called “space-like concentration on the Dharmakaya” in which he focused single-pointedly on the ultimate nature of all phenomena. After training in this meditation for six years he realized that he was very close to attaining full enlightenment, and so he walked to Bodh Gaya where, on the full moon day of the fourth month of the lunar calendar, he seated himself beneath the Bodhi Tree in the meditation posture and vowed not to rise from meditation until he had attained perfect enlightenment. With this determination he entered the space-like concentration on the Dharmakaya.</p>

<p>As dusk fell, Devaputra Mara, the chief of all the demons, or maras, in this world, tried to disturb Siddhartha’s concentration by conjuring up many fearful apparitions. He manifested hosts of terrifying demons, some throwing spears, some firing arrows, some trying to burn him with fire, and some hurling boulders and even mountains at him. Through the force of his concentration, the weapons, rocks, and mountains appeared to him as a rain of fragrant flowers, and the raging fires became like offerings of rainbow lights.

    With this concentration he removed the final veils of ignorance from his mind and in the next moment became a Buddha, a fully enlightened being.

Seeing that Siddhartha could not be frightened into abandoning his meditation, Devaputra Mara tried instead to distract him by manifesting countless beautiful women, but Siddhartha responded by developing even deeper concentration. In this way he triumphed over all the demons of this world, which is why he subsequently became known as a “Conqueror Buddha.”</p>

<p>Attaining Enlightenment

Siddhartha then continued with his meditation until dawn, when he attained the varja-like concentration. With this concentration, which is the very last mind of a limited being, he removed the final veils of ignorance from his mind and in the next moment became a Buddha, a fully enlightened being.</p>


    {% endblock %}