{% extends 'blog_info/documents/readBase.html' %}
{% load staticfiles %}
{% block body_block %}


<iframe width="560" height="315" src="https://www.youtube.com/embed/nsN7NLs-0jI" frameborder="0" allowfullscreen></iframe>

<p>n his first sermon, the Buddha said, “I teach one thing and one thing only: suffering and the end of suffering,” which is the ultimate goal of Buddhism.

The Buddha presented and explained this very doctrine in his major discourses. The teachings have expanded and evolved since the Buddha’s time, thanks to his closest disciples. Yet the doctrine still underlies the core Buddhist teachings. In his first sermon at Deer Park, he taught the Four Noble Truths: the existence of suffering, the cause of suffering, that the cause of suffering can end, and the path to the end of suffering.

The Buddha was once living in the Deer Park at the Resort of Seers (Isipatana) near Baranasi Forest. And that is where he gave his first sermon to the group of five monks.
What He Said

In the first sermon, the Buddha warns these monks over extreme devotion to the indulgence of sense-pleasures as well as self-mortification:

“Bhikkhus (monks), these two extremes ought not to be practiced by one who has gone forth from the household life. What are the two? There is devotion to the indulgence of sense-pleasures, which is low, common, the way of ordinary people, unworthy and unprofitable; and there is devotion to self-mortification, which is painful, unworthy and unprofitable.

“Avoiding both these extremes, the Tathagata (referring to the Buddha himself) has realized the Middle Path: It gives vision, it gives knowledge, and it leads to calm, to insight, to enlightenment, to Nirvana.

“And what is that Middle Path? It is simply the Noble Eightfold Path, namely, right view, right thought, right speech, right action, right livelihood, right effort, right mindfulness, right concentration. This is the Middle Path realized by the Tathagata, which gives vision, which gives knowledge, and which leads to calm, to insight, to enlightenment, to Nirvana.
The Noble Truth

“The Noble Truth of suffering (Dukkha) is this: Birth is suffering; aging is suffering; sickness is suffering; death is suffering; sorrow and lamentation, pain, grief and despair are suffering; association with the unpleasant is suffering; dissociation from the pleasant is suffering; not to get what one wants is suffering – in brief, the five aggregates of attachment are suffering.

“The Noble Truth of the origin of suffering is this: It is this thirst which produces re-existence and re-becoming, bound up with passionate greed. It finds fresh delight now here and now there, namely, thirst for sense-pleasures; thirst for existence and becoming; and thirst for self-annihilation.

“The Noble Truth of the Cessation of suffering is this: It is the complete cessation of that very thirst, giving it up, renouncing it, emancipating oneself from it, detaching oneself from it.

“The Noble Truth of the Path leading to the Cessation of suffering is this: It is simply the Noble Eightfold Path, namely right view, right thought, right speech, right action, right livelihood, right effort, right mindfulness, right concentration.”</p>

    {% endblock %}