{% extends 'blog_info/documents/readBase.html' %}
{% load staticfiles %}
{% block body_block %}

<div class="container">
    <div class="row">

         <div class="col-sm-4 col-lg-4">
             <div class="thumbnail">

            <iframe width="280" height="157" src="https://www.youtube.com/embed/nsN7NLs-0jI" frameborder="0" allowfullscreen></iframe>
        </div>
        </div>

        <div class="col-sm-4 col-lg-4">
             <div class="thumbnail">

<iframe width="280" height="157" src="https://www.youtube.com/embed/Q9R-cqf6Pmk" frameborder="0" allowfullscreen></iframe>
        </div>
        </div>


    </div>

</div>


<p>The Four Noble Truths (Sanskrit: catvāri āryasatyāni; Pali: cattāri ariyasaccāni) are "the truths of the Noble Ones,"[1] the truths or realities which are understood by the "worthy ones"[web 1] who have attained Nirvana.[2][web 1] The truths are dukkha, the arising of dukkha, the cessation of dukkha, and the path leading to the cessation of dukkha.

The four truths express the basic orientation of Buddhism: we crave and cling to impermanent states and things, which is dukkha,[3] "incapable of satisfying"[web 2] and painful.[4][5] This keeps us caught in samsara, the endless cycle of repeated rebirth, dukkha and dying again. [note 1] But there is a way to reach real happiness[11] [note 2] and to end this cycle, namely following the eightfold path. [note 3] The meaning of the truths is as follows:[23][16][web 3]

    Dukkha, "incapable of satisfying,"[web 2] painful.[4][5] Life in this "mundane world,"[web 3] with its craving and clinging to impermanent states and things,[4] is dukkha,[3] unsatisfactory and painful;[web 2][4][5][6][18][web 3]
    Samudaya, the origination or arising of dukkha. Dukkha, and repeated life in this world, arises with taṇhā, "thirst," craving for and clinging to these impermanent states and things. This craving and clinging produces karma which leads to renewed becoming, keeping us trapped in rebirth and renewed dissatisfaction;[note 4]
    Nirodha, the cessation of dukkha. By stopping this craving and clinging nirvana is attained,[25] no more karma is produced, and rebirth and dissatisfaction will no longer arise again;[note 5]
    Magga, the path to the cessation of, or liberation from dukkha. By following the Noble Eightfold Path, restraining oneself, cultivating discipline, and practicing mindfulness and meditation, craving and clinging will be stopped, and rebirth and dissatisfaction are ended.[27][28]

The four truths provide a conceptual framework for introducing and explaining Buddhist thought, which has to be personally understood or "experienced."[29][30] The formulation of the four truths, and their importance, developed over time, when prajna, or "liberating insight," came to be regarded as liberating in itself,[31][30] instead of the practice of dhyana.[31]

In the sutras, the four truths have both a symbolic and a propositional function.[32] They represent the awakening and liberation of the Buddha, but also the possibility of liberation for all sentient beings, describing how release from craving is to be reached.[33]

The four truths are of central importance in the Theravada tradition,[34] which holds to the idea that insight into the four truths is liberating in itself.[20] They are less prominent in the Mahayana traditions, which emphasize insight into sunyata and the Bodhisattva-path as a central elements in their teachings.[35]</p>




    {% endblock %}