{% extends 'blog_info/documents/readBase.html' %}
{% load staticfiles %}
{% block body_block %}


<p>Early life and background

Born on 30 January 1924 in Burma (now Myanmar) to Indian parents from the Marwari ethnic group, Goenka grew up in a conservative Hindu sanatani household.[4] He was a successful businessman, when in 1955 he started experiencing severe, debilitating migraines.[5][6] Unable to find medical relief, and on the suggestion of a friend, he met with the Vipassana teacher Sayagyi U Ba Khin. Though initially reluctant, Ba Khin took him on as a student.[1][7][8] Goenka subsequently trained under him for 14 years.[1][9]
Career
Pagoda at Dhamma Giri Meditation Centre, Igatpuri, which was founded by Goenka in 1976.

In 1969, Goenka was authorised to teach by U Ba Khin, who died in 1971. He left his business to his family and moved to India, where he started teaching Vipassana meditation. Seven years later, in 1976, he opened his first meditation centre, Dhamma Giri, in Igatpuri near Nashik, Maharashtra. He taught meditation on his own until 1982, and then started training assistant teachers. He established the Vipassana Research Institute at Dhamma Giri in 1985.[1][9]

From the start, he taught 10-day intensive meditation retreats, and by 1988 had taught numerous people, including several thousand Westerners.[10]

Today, Vipassana courses, in the tradition of Sayagyi U Ba Khin, are held at 302 locations in 94 countries, of which about 170 are permanent Vipassana meditation centres.[11] There are such centres in the US, Canada, Australia, New Zealand, France, Germany, Spain, Italy, Switzerland, Sweden, United Kingdom, South Africa, Japan, Sri Lanka, Nepal, Myanmar, Thailand, Philippines, and 75 centres in India.[1][9]

In 2000, Goenka laid the foundation of the 325 ft. high Global Vipassana Pagoda, near Gorai Beach, in Mumbai, which opened in 2009, and has relics of Buddha and a meditation hall.[1] It was built as a tribute to his teacher, who in turn wanted to pay back the debt to India, the land of origin of Vipassana. However, unlike his protégé, U Ba Khin was unable to acquire a passport, and thus had been unable to travel to India in person.[4]
Millenium world peace summit

Goenka was an invited speaker at the Millennium World Peace Summit of Religious and Spiritual Leaders on 29 August 2000 at the General Assembly Hall of the United Nations in New York City.[3]
Late years

Goenka was also an orator, and a prolific writer and poet. He wrote in English and Hindi. He travelled widely and lectured to audiences worldwide including at the World Economic Forum, Davos. For four months in 2002, he undertook the Meditation Now Tour of North America.[12]

He was conferred the Padma Bhushan, the third highest civilian honour in India for social work on the occasion of India's 63rd Republic Day in 2012.[13]

He died on 29 September 2013, at his home in Mumbai. He was survived by his wife Elaichi Devi Goenka, also a prominent meditation teacher, and six sons.[1]
Legacy

Goenka trained about 1300 assistant teachers to conduct courses using his recordings, and about 120,000 people attend them each year. Upon Goenka's death, Jack Kornfield, noted American author on Buddhism wrote, "In every generation, there are a few visionary and profound masters who hold high the lamp of the Dharma to illuminate the world. Like the Dalai Lama and Thich Nhat Hanh, Ven. S.N. Goenka was one of the great world masters of our time. [He] was an inspiration and teacher for Joseph Goldstein and Sharon Salzberg, Ram Dass, Daniel Goleman, and many other western spiritual leaders."[14] Jay Michaelson wrote in a Huffington Post article titled, "The Man who Taught the World to Meditate", "He was a core teacher for the first generation of "insight" meditation teachers to have an impact in the United States."[15]
Teachings

The technique that Goenka taught is claimed to represent a tradition that is traced back to the Buddha.[16] There is no requirement to convert to any religious belief system. Goenka explained that, "The Buddha never taught a sectarian religion; he taught Dhamma - the way to liberation — which is universal"[17] and presented his teachings as non-sectarian and open to people of all faiths or no faith. "Liberation" in this context means freedom from impurities of mind and, as a result of the process of cultivating a pure mind, freedom from suffering.[18] Goenka described Vipassana meditation as an experiential scientific practice, in which one observes the constantly changing nature of the mind and body at the deepest level, through which one gains a profound self-knowledge that leads to a truly happy and peaceful life.[citation needed]

Courses start with observation of natural (i.e. not controlled) breath, which allows the mind to become concentrated, a practice called Anapana. This concentration prepares one for the Vipassana practice itself which, in this tradition, involves observing bodily sensations with equanimity and becoming progressively more aware of the interconnection between mind and body.[19]
Theoretical component

Goenka invites students to consider the theoretical aspects of his teachings, advising, though, that the important aspect of the technique is its practice. Students are free to accept his theoretical background or to reject any part of it that they find objectionable.

In the Vipassana Journal 2nd Ed. 1983 in an article titled "Let us talk sense", on page 29 Goenka, reports the words of the Buddha as follows (emphasis in the original):[20]

    "Filled with these compassionate and loving thoughts he proclaimed:

    Aparutu tesam amatassa dvara
    Ye sotavanto pamucantu saddham

    Open are the gates of the deathless state to those with ears (who can hear) who renounce their lack of faith"

Meditation Centers
The entrance to the Prachinburi Vipassana Meditation Center, Thailand.
The main Dhamma hall in the Prachinburi Vipassana Meditation Center, Thailand.

The Vipassana Meditation Centers that Goenka helped to establish throughout the world offer 10-day courses that provide a thorough and guided introduction to the practice of Vipassana meditation. There are no charges for either the course or for the lodging and boarding during the course. These courses are supported by voluntary donations of people who want to contribute for future courses. Only donations made at the end of the course go towards paying for future new students.[21]

With an ever-growing number of people learning Vipassana from these centres, Goenka tried to ensure that the whole network does not become a sectarian religion or cult. He recommended the expansion should be for the benefit of others, not mere expansion for the sake of expansion due to any blind belief—but with the intention that many more people should benefit, rather than for the sake of the organisation's growth. Through the application process, however, much effort is made to prepare potential students for the rigorous and serious nature of the intensive 10-day meditation.

    People with serious mental disorders have occasionally come to Vipassana courses with the unrealistic expectation that the technique will cure or alleviate their mental problems. Unstable interpersonal relationships and a history of various treatments can be additional factors which make it difficult for such people to benefit from, or even complete, a ten-day course. Our capacity as a nonprofessional volunteer organization makes it impossible for us to properly care for people with these backgrounds. Although Vipassana meditation is beneficial for most people, it is not a substitute for medical or psychiatric treatment and we do not recommend it for people with serious psychiatric disorders.[22]

The organisation of the centres are decentralized and self-sufficient and may be run by volunteers of varying experience, which may account for differences in attitudes and experiences. In an effort to provide a more uniform experience in all of the centres, all public instruction during the retreat is given by audio and video tapes of Goenka. When asked about problems related to growth and expansion, Goenka stated:

    The cause of the problem is included in the question. When these organisations work for their own expansion, they have already started rotting. The aim should be to increase other people’s benefits. Then there is a pure Dhamma volition and there is no chance of decay. When there is a Dhamma volition, "May more and more people benefit," there is no attachment. But if you want your organisation to grow, there is attachment and that pollutes Dhamma.[23]

Students practising Goenka's Vipassana technique at the meditation centres are asked to agree to refrain from practising any other religious or meditative practices for the duration of the course. Concerning practices of other religions, Goenka stated: "Understand. The names of many practices are all words of pure Dhamma, of Vipassana. But today the essence is lost; it is just a lifeless shell that people perform. And that has no benefit."[citation needed]
Global Vipassana Pagoda
Global Vipassana Pagoda, Mumbai

One of Goenka's wishes was fulfilled in November 2008 when the construction of the Global Vipassana Pagoda was completed on the outskirts of Mumbai. He hoped that this monument will act as a bridge between different communities, different sects, different countries and different races to make the world a more harmonious and peaceful place.

The Pagoda contains the world’s largest pillar-less stone dome structure and is expected to attract hundreds of thousands of visitors from all over the world wanting to learn more about it and Vipassana meditation. Architecturally, this building is by far the largest single-span stone dome in the world, twice as big as the Basilica of St. Peter at the Vatican. At its centre is a circular meditation hall, 280 feet in diameter, which has a seating capacity of 8,000. At 325 feet height, it is almost as tall as a 30-story building. Approximately 2.5 million tons of stone was used in the construction.[citation needed]

In an 1997 article titled Why the Grand Vipassana Pagoda?, Goenka explained that the Pagoda would house relics said to be from Buddha, which he said actually help people:

    Usually such pagodas are solid. But with the help of the most modern techniques of architecture, instead of building a solid pagoda, a vast meditation hall will be built within it, at the centre of which these sacred relics will be installed so that thousands of meditators can sit around them, meditating together and benefit from their Dhamma vibrations.[24]

Vipassana Research Institute

Goenka believed that theory and practice should go hand-in-hand and accordingly he established a Vipassana Research Institute to investigate and publish literature on Vipassana and its effects. The Vipassana Research Institute focusses on two main areas: translation and publication of the Pali texts, and research into the application of Vipassana in daily life.[25]
Vipassana in prisons

Goenka was able to bring Vipassana meditation into prisons, first in India, and then in other countries. The organisation estimates that as many as 10,000 prisoners, as well as many members of the police and military, have attended the 10-day courses.

Doing Time, Doing Vipassana is a 1997 documentary about the introduction of S. N. Goenka's 10-day Vipassana classes at Tihar Jail in 1993 by then Inspector General of Prisons in New Delhi, Kiran Bedi. Bedi had her guards trained in Vipassana first, and then she had Goenka give his initial class to 1,000 prisoners.[26]

The Dhamma Brothers is a documentary film released in 2007 about a prison Vipassana meditation program at Donaldson Correctional Facility in Bessemer, Alabama. The film concentrates on four inmates, all convicted of murder. It also includes interviews of guards, prison officials, and local residents, and includes re-enactments of the inmates' crimes.[citation needed]
Quotations

    "May all beings find real peace, real harmony, real happiness."
    "A teacher should not be made an idol, like a god. He is a teacher. If you want to get any help, you practice what is being taught, that's all." (Indian Express interview, 2010)[4]
    "I am not against conversion. In my speech at UN, the first thing I said was that I am for conversion, but not from one organised religion to another, but from misery to happiness, from bondage to liberation." (Indian Express interview, 2010)[4]
    (On ritualism) "...if my teacher had asked me to perform rites or rituals, I would have said good-bye. My own Hindu tradition was full of rituals and ceremonies, so to start again with another set of rituals didn't make sense. But my teacher said, 'No ritual. Buddha taught only sila, samadhi, pañña. Nothing else. There is nothing to be added and nothing to be subtracted.' As the Buddha said, 'Kevalaparipunnam.' (Pali: 'The whole technique is complete by itself.') "(Shambhala Sun interview, 2001)[8]
    "People are attracted by the results of the practice that they see in others. When a person is angry, the influence of that anger makes everybody unhappy, including themselves. You are the first victim of your own anger. This realization is another thing that attracted me to the Buddha's teaching." (Shambhala Sun interview, 2001)[8]
</p>

    {% endblock %}