{% extends 'blog_info/documents/readBase.html' %}
{% load staticfiles %}
{% block body_block %}


<p>As the young prince grew up he mastered all the traditional arts and sciences without needing any instruction.
    He knew sixty-four different languages, each with their own alphabet, and he was also very skilled at mathematics.
    He once told his father that he could count all the atoms in the world in the time it takes to draw a single breath.
    Although he did not need to study, he did so to please his father and to benefit others. At his father’s request
    he joined a school where, in addition to various academic subjects, he became skilled at sports such as martial arts and archery.
    The prince would take every opportunity to convey spiritual meanings and to encourage others to follow spiritual paths.
    At one time, when he was taking part in an archery contest, he declared, “With the bow of meditative concentration
    I will fire the arrow of wisdom and kill the tiger of ignorance in living beings.” He then released the arrow and it
    flew straight through five iron tigers and seven trees before disappearing into the earth! By witnessing demonstrations
    such as this, thousands of people developed faith in the prince.</p>
<p>Witnessing Suffering

Sometimes Prince Siddhartha would go into the capital city of his father’s kingdom to see how the people lived. During these visits
    he came into contact with many old people and sick people, and on one occasion he saw a corpse. These encounters left a deep
    impression on his mind and led him to realize that all living beings without exception have to experience the sufferings of birth,
    sickness, ageing and death. Because he understood the laws of reincarnation he also realized that they experience these sufferings not
    just once, but again and again, in life after life without cessation. Seeing how all living beings are trapped in this vicious circle of
    suffering he felt deep compassion for them, and he developed a sincere wish to free all of them from their suffering. Realizing that only a
    fully enlightened Buddha has the wisdom and the power to help all living beings in this way, he resolved to leave the palace and retire to the
    solitude of the forest where he would engage in profound meditation until he attained enlightenment.</p>

    {% endblock %}