{% extends 'blog_info/documents/readBase.html' %}
{% load staticfiles %}
{% block body_block %}

<p>One night, Queen Mayadevi dreamed that a white elephant descended from heaven and entered her womb. The white elephant
    entering her womb indicated that on that very night she had conceived a child who was a pure and powerful being.
    The elephant’s descending from heaven indicated that her child came from Tushita heaven, the Pure Land of Buddha Maitreya.
    Later, when she gave birth to the child, instead of experiencing pain the queen experienced a special, pure vision in which
    she stood holding the branch of a tree with her right hand while the gods Brahma and Indra took the
    child painlessly from her side. They then proceeded to honor the infant by offering him ritual ablutions.</p>


    {% endblock %}