{% extends 'blog_info/documents/readBase.html' %}
{% load staticfiles %}
{% block body_block %}


<p>Accounts of the purported events surrounding the Buddha's own parinirvāṇa are found in a wide range of Buddhist canonical literature. In addition to the Pāli Mahāparinibbāna sutta (DN 16) and its Sanskrit parallels, the topic is treated in the Saṃyutta-nikāya (SN 6.15) and the several Sanskrit parallels (T99 p253c-254c), the Sanskrit-based Ekottara-āgama (T125 p750c), and other early sutras preserved in Chinese, as well as in most of the Vinayas preserved in Chinese of the early Buddhist schools such as the Sarvāstivādins and the Mahāsāṃghikas. The historical event of the Buddha's parinirvāṇa is also described in a number of later works, such as the Sanskrit Buddhacarita and the Avadāna-śataka, and the Pāli Mahāvaṃsa.

According to Bareau, the oldest core components of all these accounts are just the account of the Buddha's parinirvāṇa itself at Kuśinagara and the funerary rites following his death.[3] He deems all other extended details to be later additions with little historical value.</p>

    {% endblock %}