{% extends 'blog_info/documents/readBase.html' %}
{% load staticfiles %}
{% block body_block %}

<p>The Visuddhimagga (Pali; English The Path of Purification), is the 'great treatise' on Theravada Buddhist doctrine written by Buddhaghosa approximately in the 5th Century in Sri Lanka. It is a comprehensive manual condensing and systematizing the theoretical and practical teachings of the Buddha as they were understood by the elders of the Mahavihara Monastery in Anuradhapura, Sri Lanka. It is described as "the hub of a complete and coherent method of exegesis of the Tipitaka, using the ‘Abhidhamma method' as it is called. And it sets out detailed practical instructions for developing purification of mind." (Bhikkhu Nyanamoli 2011 p. xxvii.) It is considered the most important Theravada text outside of the Tipitaka canon of scriptures.[1]

The Visuddhimagga′s structure is based on the Ratha-vinita Sutta ("Relay Chariots Discourse," MN 24), which describes the progression from the purity of discipline to the final destination of nibbana in seven steps.[2]</p>


    {% endblock %}