
body{


	background:url('../images/confused.jpg') ;

    /* Ensure the html element always takes up the full height of the browser window */
    min-height:100%;

    /* The Magic */
    background-size:cover;
    /* Workaround for some mobile browsers */
    min-height:100%;
}
}
2
.welcome{
font-family: 'Rokkitt', serif;
color: white;
}