<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}"/>
</head>
<body>
   <nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
          <a class="navbar-brand" href="{% url 'index' %}">VIPASSANA-INFO</a>
      </div>
<div class="collapse navbar-collapse" id="topNavBar">

            <form class="navbar-form navbar-left" role="search" method="GET" action="#">
                <div class="form-group">
                    <input type="text", class="form-control" name="q" value="">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{%url 'web_app:buddhavipassana_intro'%}">
                        <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> &nbsp BUDDHAVIPASSANA.HU
                    </a>
                </li>
                <li class="">
                    <a href="{%url 'db_app:user_login'%}">
                        <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> &nbsp MEDITATRO-DB
                    </a>
                </li>
                <li class="">
                    <a href="{%url 'blog_info:blog_index'%}">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> &nbsp BLOG-INFO
                    </a>
                </li>
            </ul>

            </div>
    </div>
</nav>

      </div>

      <!-- Anything inside of collapse navbar-collapse goes into the "hamburger" -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


        <!-- Stuff on the Right -->



      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>

</body>
<script
  src="http://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



</html>