{% extends "web_app/baseWebapp.html" %}
{% load staticfiles %}
 {% block body_block %}
<div class="container">
    <h1></h1>
    <br><br><br><br><br><br><br><br>




<div class="container" align="center">

<h1><strong>AJAHN TONG SIRIMANGALO</strong></h1>

</div>
<br><br>
<div class="container" align="center">


                <div class="thumbnail" style="background:transparent; border:0px">

                    <img src="{% static 'images/ajahn.jpg' %}">

                    <br><br><p>A thaiföldi Wat Phradat Sri Chomtong Voravihara Meditációs Központ és kolostor apátja. 1923-ban született, 12 éves kora óta él buddhista szerzetesként. Az utóbbi 60 évet a Vipassna Meditáció tanításának szentelte. A 93 éves Vipassana Mester jelenleg is tanít Thaiföldön.<br><br><br><br><br><br><br><br><br><br></p>
                          </div>
            </div>




{% endblock %}