{% extends "web_app/baseWebappENG.html" %}
{% load staticfiles %}
 {% block body_block %}

<div class="container">
    <h1></h1>
    <br><br><br><br><br><br><br>



      <h1></h1>

<div class="container" align="center">

<h1><strong>AJAHN TONG SIRIMANGALO</strong></h1>

</div>
<div class="container" align="center">


                <div class="thumbnail" style="background:transparent; border:0px">


                    <img src="{% static 'images/ajahn.jpg' %}" class="img-rounded" width="608" height="462">
                            <br><br>
                        <p>Highly respected monk and meditation master of our time. He is the abbot of the Buddhist Monastery Wat Chomtong in Northern Thailand. He has practiced and taught Satipattana Vipassana Meditation over 60 years in Thailand as well as Europe and America. The 93 years old most venerable Ajahn is presently residing and teaching in Thailand at Wat Chom Tong.</p>
                          </div>
                    </div>



{% endblock %}