{% extends "web_app/baseWebappENG.html" %}
{% load staticfiles %}
 {% block body_block %}

<div class="container">
    <h1></h1>
      <h1></h1>
    <br><br><br><br><br><br>
    <br>


    </div>
<div class="container" align="center">

<h1><strong>COURSES</strong></h1>

</div>
<br><br>
<div class="container">

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail text-center">

                    <img src="{% static 'images/szechenyi-chain-bridge-1758196-1280-600x335-8.jpg' %}" class="card-img-top">

                        <h4><strong>HUNGARY</strong><br><strong>(Budapest)<br></strong><br>MEDITATION WEEKEND<br><strong>27-30. &nbsp;July 2017.</strong><br><strong><br></strong>Teachers: Thanat &amp; Kathryn Chindaporn<br><br><a href="#" class="text-danger">INFORMATION</a></h4>

                            <p><a href="#" class="btn btn-danger" role="button">Registration</a> </p>
                          </div>
                        </div>



                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail text-center">
                        <img src="{% static 'images/tannheimertal-53247-1280-600x337-79.jpg' %}" class="card-img-top">

                            <h4 class="card-title text-xs-center"><strong>SLOVAKIA</strong><br><strong>(Zvolen)<br></strong><br>FOUNDATION COURSE<br><strong>July 31 - August 13. 2017</strong><br><br>Teachers: Thanat &amp; Kathryn Chindaporn<br><br><p><em>For more information please visit:</em></p><a href="http://vipassana.sk/hu/" class="text-primary" target="_blank">www.vipassana.sk</a></h4>

                          </div>
            </div>
            <div class="col-sm-6 col-md-4">
                    <div class="thumbnail text-center">
                        <img src="{% static '/images/prag.jpg' %}" class="card-img-top">

                            <h4 class="card-title text-xs-center"><strong>CZECH REPUBLIK</strong><br><strong>(Prague)<br></strong><br>COURSES ON GOING<br><strong></strong><br><br>Teachers: Jonathan Preboy &amp; Anna Scharfenberg<br><br><p><em>For more information please visit:</em></p><a href="http://www.tisarana.cz/" class="text-primary" target="_blank">www.tisarana.czk</a></h4>

                          </div>
            </div>
        </div>
</div>




{% endblock %}