{% extends "web_app/baseWebappENG.html" %}
{% load staticfiles %}
 {% block body_block %}

<div class="container">
    <h1></h1>
    <br>
      <h1></h1>
    <br><br><br><br><br><br>

    <div class="container" align="center">

<h1><strong>FREQUENTLY ASKED QUESTIONS</strong></h1>

</div>


      <br>  <br>

 <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail text-center" style="border:1px solid blue;">
                    <div class="card-block">
                        <h4 class="card-title text-xs-center"><strong>What is Vipassana?</strong><br><br></h4>
                        <p class="card-text text-xs-center">Vipassana is an ancient meditation technique was rediscovered by Gautama Buddha around 2500 years ago.&nbsp;<br>Vipassana means: 'to see things as they really are'.<br>During the practice one can get deeper insight into the true nature of reality and overcome suffering.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail text-center" style="border:1px solid blue;">
                    <div class="card-block">
                        <h4 class="card-title text-xs-center"><strong>Whom the course is recommended?</strong><br><strong><br></strong></h4>
                        <p class="card-text text-xs-center">The course is recommended for everybody who is willing to follow the teachers instructions and able to keep the rules.<br><span style="font-size: 1rem; line-height: 1.5;">* &nbsp;* &nbsp;*</span><br>No previous experience is necessary<br>&nbsp;* &nbsp;* &nbsp;*<br>Beginner and advanced meditators are also welcome.</p>


                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
               <div class="thumbnail text-center" style="border:1px solid blue;">
                    <div class="card-block">
                        <h4 class="card-title text-xs-center"><strong>What can I gain from practicing?</strong></h4>
                        <p class="card-text text-xs-center"><br>Buddha was asked: “What have you gained from Meditation?” He replied: “Nothing.”<br> “However”, Buddha said, “let me tell you what I lost: Anger, Anxiety, Depression, Insecurity, Fear of Old Age and Death."<br><br><br><br><br></p>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail text-center" style="border:1px solid blue;">
                    <div class="card-block">
                        <h4 class="card-title text-xs-center"><strong>Course fees?</strong></h4>
                        <p class="card-text text-xs-center"><br>Vipassana meditation instructions are offered by the teachers for free. The students will have the opportunity to give voluntary donations at the end of the course to support the teachers expenses (flight ticket, etc.).<br>* * *<br>Costs for accomodation & food varies by courses. Information will be given in detail in the <a href="{% url 'web_app:courses' %}" class="text-primary">course</a> description.<br></p><br><br><br> </p>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
               <div class="thumbnail text-center" style="border:1px solid blue;">
                    <div class="card-block">
                        <h4 class="card-title text-xs-center"><strong>Should I be Buddhist to practice?</strong><br><br></h4>
                        <p class="card-text text-xs-center">No, you don't need to be Buddhist to practice. <br>* * *<br>It is important to understand that Vipassana is a meditation technique and not a religion or philosophie. The nature of reality does not depend on religious or philisophical views.<br><br></p>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail text-center" style="border:1px solid blue;">
                    <div class="card-block">
                        <h4 class="card-title text-xs-center"><strong>Can I finish the basic course less than 13 days?</strong><br><strong><br></strong></h4>
                        <p class="card-text text-xs-center">No it is not possible to finish the basic course less then 13 days. <br>* * *<br>However you are always welcome to practice for shorter period if you wish to. Even some days of practice is beneficial<br><br><br><br></p>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}