{% extends "web_app/baseWebapp.html" %}
{% load staticfiles %}
 {% block body_block %}

<div class="container">
    <h1></h1>
    <br>
      <h1></h1>
    <br>  <br>  <br>  <br><br><br><br>

    <div class="container" align="center">

<h1><strong>GYAKRAN ISMÉTELT KÉRDÉSEK</strong></h1>

</div>


      <br>  <br>

 <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail text-center" style="border:1px solid blue;">
                    <div class="card-block">
                        <h4 class="card-title text-xs-center"><strong>Mi az a Vipassana?</strong><br><br></h4>
                        <p class="card-text text-xs-center">A Vipassana egy ősi meditációs technika, amelyet 2500 évvel ezelőtt Gautama Buddha újra felfedezett.&nbsp;</span><br>
                            Vipassana jelentése: meglátni a dolgok valódi lényét. <br>
                            A gyakorlatok során az egyén ömegfigyelés és tudatos jelenlét gyarolása során képes mélyebb megértéshez jutni, és ez által tisztábban látni önmagát és a körülötte lévő világot.<br><br><br></p>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail text-center" style="border:1px solid blue;">
                    <div class="card-block">
                        <h4 class="card-title text-xs-center"><strong>Kinek ajánlott a tanfolyam?</strong><br><strong><br></strong></h4>
                        <p class="card-text text-xs-center">A tanfolyam elsősorban azoknak ajánlott, akik hajlandóak komolyan gyakorloni és követni az oktatók utasításait és képesek betartani a tanfolyam szabályait.</span><br><br>* * *<br>Korábbi meditációs tapasztalat nem szükséges<br><br><br><br><br><br></p>


                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
               <div class="thumbnail text-center" style="border:1px solid blue;">
                    <div class="card-block">
                        <h4 class="card-title text-xs-center"><strong>Mit nyerek majd ha részt veszek a tanfolyamon?</strong></h4>
                        <p class="card-text text-xs-center"><br>Buddhát egyszermegkérdezték: „Mit nyertél a meditációval?”<br>„Semmit! <br>Válaszolta. De hadd mondjam el, hogy mit veszítettem: haragot, szorongást, depressziót, bizonytalanságot, és az öregségtől és haláltól való félelmet."<br><br><br><br><br></p>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail text-center" style="border:1px solid blue;">
                    <div class="card-block">
                        <h4 class="card-title text-xs-center"><strong>Tanfolyami költségek?</strong></h4>
                        <p class="card-text text-xs-center"><br>A hagyományokat követve az oktatásnak nincsen díja. Ahogyan a korábban végzett tanítványainknak úgy a tanfolyam végén a jelenlegi részvevőknek is lehetőségük van adománnyal hozzájárulni ahhoz, hogy a Vipassana meditáció minél több emberhez eljuthasson. <br><br>* * *<br>A szállás és ellátás költségei <a href="Tanfolyamok.html" class="text-primary">tanfolyamonként</a> külön lesznek feltűntetve.<br><br><br> </p>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
               <div class="thumbnail text-center" style="border:1px solid blue;">
                    <div class="card-block">
                        <h4 class="card-title text-xs-center"><strong>Buddhistának kell-e lennem, hogy gyakorolhassak?</strong><br><br></h4>
                        <p class="card-text text-xs-center">Nem, nem szükésges buddhistának lenni. A gyakorláshoz semmilyen vallási kötődés nem szükséges. Fontos megérteni, hogy a Vipassana egy meditációs technika és nem egy vallás, vagy filozófiai irányzat.</><br>A valóság abszolút természete nem függ vallási vagy filozófiai nézetektől.<br>Ha valaki vallási hovatartozásából eredően bizonytalan abban, hogy elkezdjen e gyakorolni, annak érdemes hitoktatójától tanácsot kérni.<br><br></p>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail text-center" style="border:1px solid blue;">
                    <div class="card-block">
                        <h4 class="card-title text-xs-center"><strong>Nincs 13 napom, hogy elvégezzem az alaptanfolyamot! Rövidebb idő alatt is lehet?</strong><br><strong><br></strong></h4>
                        <p class="card-text text-xs-center">Az alaptanfolyam elvégzése nem lehetséges rövidebb idő alatt.<br><br>* * *<br>Viszont bármelyik tanfolyamon lehetőség van rövidebb ideig részt venni. Ha valakinek csak pár napja van azt is érdemes kihasználni a gyakorlásra.<br><br><br><br></p>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}