{% extends "web_app/baseWebappENG.html" %}
{% load staticfiles %}
 {% block body_block %}

<div class="container" align="center">
    <h1></h1>
    <br><br><br><br><br><br><br><br>

      <h1></h1>
    <br>

<section class="mbr-section mbr-section-full mbr-parallax-background mbr-after-navbar" id="header1-1j" style="background-image: url(assets/images/mountains.jpeg);">
    <div class="mbr-table-cell">
        
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-xs-center">

                    <h1 class="mbr-section-title display-1"><br>VIPASSANA MEDITATION<br></h1>
                    <p class="lead">In the lineage of <a href="{% url 'web_app:ajahnEng' %}" class="text-primary">Ajahn Tong Sirimangalo</a><br><br><br><br><em><font color=red>The website is under construction...</font></em></p>
                    
                </div>
            </div>
        </div>
        
    </div>
</section>

{% endblock %}