{% extends "web_app/baseWebapp.html" %}
{% load staticfiles %}
 {% block body_block %}

<div class="container">
    <h1></h1>
    <br><br><br><br><br><br>
      <h1></h1>
    <br><br>
<div class="container" align="center">

<h1><strong>OKTATÓK</strong></h1>

</div>

    <br><br>
<div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail text-center" style="background:transparent; border:0px">

                    <img src="{% static 'images/thanat.jpg'%}">

                    <h4><strong>THANAT CHINDAPORN</strong></h4><p><br>&nbsp;A thaiföldi Chomtong Meditációs Központ Nemzetközi Részlegének alapítója és vezetője. Ajahn Tong tanítványa és az 1980-as évek közepétől oktat Vipassana meditációt a világ minden táján. Az elmúlt 30 évben tanfolyamokat vezetett Mexicóban,Egyesült Államokban, Hawai szigetén, Columbiában, Indiában, Izraelben, Németroszágban, Szlovéniában, Svédországbna, Franciaországban, Spanyolországban, Oroszországban, Ukrajnában, Bulgáriában.&nbsp;2004-ben a thaiföldi kormány munkája elismeréseként a kitüntetésben részesített.&nbsp;</p>
                    <div class="caption">


                          </div>
  </div>
                </div>



                <div class="col-sm-6 col-md-6">
                <div class="thumbnail text-center" style="background:transparent; border:0px">
                <img src="{% static 'images/Kathryn.jpg'%}" >

                    <h4><strong>KATHRYN CHINDAPORN</strong></h4><br><p>&nbsp;Férjével közösen több mint 25 éve oktat Vipassana meditációt. 1989 óta thai-angol fordítóként is segíti thaiföldi mesterek tanításainak külföldön való megismertetését. &nbsp;1999-2007 között a Chiang Mai Buddhista Egyetem oktatója volt. &nbsp;2000-ben Thaiföld királynője a  Sema Dhammacakka ("A Dhamma Aranypillére") kitűntetésben részesítette a Buddha tanításainak nemzetközi szinten való terjesztéséért.&nbsp;<br><br><br><br></p>

                          </div>
            </div>
        </div>
</div>
  </div>
</div>


{% endblock %}


