{% extends "web_app/baseWebapp.html" %}
{% load staticfiles %}
 {% block body_block %}

<div class="container">
    <h1></h1>
    <br><br><br><br><br><br><br>
      <h1></h1>



    </div>
<div class="container" align="center">

<h1><strong>TANFOLYAMOK</strong></h1>

</div>
<br><br>
<div class="container">

        <div class="row">

            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="thumbnail text-center">

                    <img src="{% static 'images/szechenyi-chain-bridge-1758196-1280-600x335-8.jpg' %}" class="card-img-top">

                        <h4><strong>MAGYARORSZÁG</strong><br><strong>(Budapest)<br></strong><br>MEDITÁCIÓS HÉTVÉGE<br><strong>27-30. &nbsp;July 2017.</strong><br><strong><br></strong>Oktatók: Thanat &amp; Kathryn Chindaporn<br><br><a href="#" class="text-danger">Információ</a></h4>

                            <p><a href="#" class="btn btn-danger" role="button">Regisztráció</a> </p>
                          </div>
                        </div>



                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="thumbnail text-center">
                        <img src="{% static 'images/tannheimertal-53247-1280-600x337-79.jpg' %}" class="card-img-top">

                            <h4 class="card-title text-xs-center"><strong>SZLOVÁKIA</strong><br><strong>(Zólyom)<br></strong><br>ALAP TANFOLYAM<br><strong>2017. július 31 - augusztus 13.</strong><br><br>Oktatók: Thanat &amp; Kathryn Chindaporn<br><br><p><em>További információ a tanfolyamról:</em></p><a href="http://vipassana.sk/hu/" class="text-primary" target="_blank">www.vipassana.sk</a></h4>

                          </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="thumbnail text-center">
                        <img src="{% static 'images/prag.jpg' %}" class="card-img-top">

                            <h4 class="card-title text-xs-center"><strong>CSEHORSZÁG</strong><br><strong>(Prága)<br></strong><br>TANFOLYAMOK FOLYAMATOSAN<br><br><br>Oktatók: Jonathan Preboy &amp; Anna Scharfenberg<br><br><p><em>További információ a tanfolyamokról:</em></p><a href="http://tisarana.cz" class="text-primary" target="_blank">www.tisarana.cz</a></h4>

                          </div>
            </div>
        </div>
</div>






{% endblock %}