{% extends "web_app/baseWebappENG.html" %}
{% load staticfiles %}
 {% block body_block %}

<div class="container">
    <h1></h1>
    <br><br><br><br><br><br>
      <h1></h1>

<div class="container" align="center">

<h1><strong>TEACHERS</strong></h1>

</div>

    <br><br>

<div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail text-center" style="background:transparent; border:0px">

                    <img src="{% static 'images/thanat.jpg'%}">

                    <h4><strong>THANAT CHINDAPORN</strong></h4><p><br>&nbsp;Teacher of Vipassana Meditation in the Therevada Buddhist tradition of Thailand. Since 1985 he was trained under Venerable Ajarn Tong Sirimangalo and the late Venerable Phra Banyat Akkayano. Currently the Director of the International Meditation Department at Wat Chomtong. The past 30 years he has conducted meditation courses in Thailand, Washington State, Hawaii, California, Canada, Mexico, Puerto Rico, Colombia, Germany, Slovenia, Sweden, Spain, France, Israel and India. In 2004 he received Thailand's Benefactor of Buddhism Award for his dissemination of Buddhism world-wide.</p>
                    <div class="caption">


                          </div>
  </div>
                </div>



                <div class="col-sm-6 col-md-6">
                <div class="thumbnail text-center" style="background:transparent; border:0px">
                <img src="{% static 'images/Kathryn.jpg'%}" >

                    <h4><strong>KATHRYN CHINDAPORN</strong></h4><br><p>Teacher of  Vipassana for over 25 years. Since 1988 counducted courses world-wide with his husband Thanat Chindaporn. From 1999 to 2007 she lectured at the Mahachulalongkorn Rajavidyalaya Buddhist University in Chiangmai, Thailand and is currently Thai-English interpreter and Assistant Director of the International Meditation Department at Wat Phradhatu Sri Chomtong Voravihara, Chomtong. Since 1989 she has interpreted for Thai meditation masters, published five Thai-English Buddhist translations. In 2000, Kathryn received the Benefactor of Buddhism Award of Chiangmai Province and the Sema Dhammacakka (Golden Pillar of Dhamma Award) in Recognition of International Dissemination of Buddhism, the latter conferred by HRH Princess Maha Chakri Sirindhorn of Thailand.&nbsp;<br><br><br><br></p>

                          </div>
            </div>
        </div>
</div>
  </div>
</div>






{% endblock %}