{% extends "web_app/baseWebappENG.html" %}
{% load staticfiles %}
 {% block body_block %}
<div class="container">
    <h1></h1>
    <br><br><br><br><br><br><br>
      <h1></h1>
    <br>

    <div class="container" align="center">

<h1><strong>ABOUT THE TECHNIQUE</strong></h1>

</div>


      <br>  <br>

 <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail text-center" style="border:1px solid blue;">
                    <div class="card-block">
                        <h4 class="card-title text-xs-center"><strong>Meditation technique</strong><br><strong><br></strong></h4>
                        The technique that is taught is an intensive form of the burmese Mahasi Sayadaw technique with sequences of mindful&nbsp;prostrations, walking and sitting meditation like it is taught&nbsp;by the <br>Most Ven. Ajahn Tong&nbsp;Sirimangalo.<br><br><span style="font-size: 1rem; line-height: 1.5;">* * *</span><br>During the course meditators learn through simple and&nbsp;structured exercises to apply mindfulness on body,&nbsp;feelings, mind and mind-objects (Satipatthana – Four<br>Foundations of Mindfulness) and all arising phenomena&nbsp;are labelled mentally.<br><br>* * *<br>Each participant is guided by the meditation teacher in daily report, during which the exercises are given and explained.</p>

                    </div>
                    </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail text-center" style="border:1px solid blue;">
                    <div class="card-block">
                        <h4 class="card-title text-xs-center"><strong>Courses</strong><strong><br><br></strong></h4>
                        <p class="card-text"></p><p>Introduction course: 1 - 3 days</span><br>Basic course: 13 - 15 days<br><em><br></em><em>after finishing the Basic course</em><br>Retreat: 11 days<br><span style="font-size: 1rem; line-height: 1.5;">* &nbsp;* &nbsp;*&nbsp;</span><br><strong>Daily schedule</strong><br><span style="font-size: 1rem; line-height: 1.5;">04:00 Wake up</span><br>06:30 Breakfast<br>11:30 Lunch<br>22:00 Sleep<br>Between time meditation practice according to the teachers instructions.<br>* &nbsp;* &nbsp;*<br><strong>Location</strong><br>Varies depend on the course.<br>Find more infromation <a href="{% url 'web_app:courses' %}" class="text-primary">here.
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail text-center" style="border:1px solid blue;">
                    <div class="card-block">
                        <h4 class="card-title text-xs-center"><strong>Rules</strong><br><strong><br></strong></h4>
                        <p class="card-text">During the course every student must follow the 8 buddhist precepts:<br><br>TARTÓZKODÁS:<br>
                            <strong>1.</strong> to abstain from killing any living creature<br><strong>2.</strong> to abstain from taking what is not given<br>
                            <strong>3.</strong>  to abstain from all sexual activity<br><strong>4.</strong> to abstain from speaking what is not true<br>
                            <strong>5.</strong> to abstain from all intoxicants (alcohol, drugs)<br>
                            <strong>6</strong>. to abstain from eating solid food after 12 Noon<br>
                            <strong>7.</strong> to abstain from sensual entertainment (dancing, singing, reading, listening to the radio), and bodily decoration (jewels, perfume, cosmetics)<br>
                            <strong>8.</strong> to abstain from sleeping on high or luxurious beds<br></p>
                    </div>
                </div>
            </div>

        </div>
    </div>




{% endblock %}