{% extends "web_app/baseWebapp.html" %}
{% load staticfiles %}
 {% block body_block %}
<div class="container">
    <h1></h1>
    <br><br><br><br><br><br>
      <h1></h1>
    <br>

    <div class="container" align="center">

<h1><strong>A NÁLUNK OKTATOTT TECHNIKÁRÓL</strong></h1>

</div>


      <br>  <br>
 <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail text-center" style="border:1px solid blue;">
                    <div class="card-block">
                        <h4 class="card-title text-xs-center"><strong>Meditációs technika</strong><br><strong><br></strong></h4>
                        <p class="card-text">Az oktatott technika a burmai Mahasi Sayadow által kidolgozott Satipatthana Vipassana meditációs technika intenzívebb formája, tudatos járó és ülő meditációkkal,  Tiszteletreméltó Ajahn Tong Sirimangalo tanítása alapján.<br><br>
                            *  *  *<br>A tanfolyamon résztvevők egy struktúrált egyszerű gyakorlatsoron keresztül sajátíthatják el a tudatos jelenlét alkalmazását a test-tudatban megjelenő jelenségek megfigyelésével.<br><br>
                            *  *  *<br>A résztvevők a tanfolyam kezdetekor részletes ismertetőt kapnak a technikához. A gyakorlás során mindenkinek lehetősége van napi beszélgetésre egyénileg az oktatóval, ahol kérdéseket tehetnek fel és megoszthatják tapasztalataikat.&nbsp;<br><br><br><br><br><br></p>
                    </div>
                    </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail text-center" style="border:1px solid blue;">
                    <div class="card-block">
                        <h4 class="card-title text-xs-center"><strong>Tanfolyamok rendszere</strong><strong><br><br></strong></h4>
                        <p class="card-text"></p><p>Bevezető tanfolyam: 1-3 nap<br>Alaptanfolyam: 13-15 nap<br><br>Alaptanfolyam elvégzése után<br>Elvonulások: 11 nap<br><br>*  *  *<br><strong>Tanfolyamok napirendje</strong><br>04:00 Ébresztő<br>06:30 Reggeli<br>11:30 Ebéd<br>22:00 Takarodó<br><br>A fent maradó időben gyakorlás az oktatótól kapott utasítások alapján.<br><br>*  *  *<br><strong>Tanfolyamok helyszíne</strong><br>Változó.<br>Információ az aktuális eseményekről<br><a href="{% url 'web_app:courses' %}" class="text-primary">itt található</a><br><br><br>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail text-center" style="border:1px solid blue;">
                    <div class="card-block">
                        <h4 class="card-title text-xs-center"><strong>Szabályok</strong><br><strong><br></strong></h4>
                        <p class="card-text">A tanfolyam ideje alatt 8 szabályt kell betartani a résztvevőknek:<br><br>TARTÓZKODÁS:<br>
                            <strong>1.</strong> bármilyen élőlény elpusztításától<br><strong>2.</strong> lopástól<br>
                            <strong>3.</strong>  minden szexuális aktivitástól<br><strong>4.</strong> hazugságtól, másokat bántó beszédtől<br>
                            <strong>5.</strong> alkohol és drog és egyéb tudatmódosító szerek fogyasztásától<br>
                            <strong>6</strong>. délutáni evéstől<br>
                            <strong>7.</strong> szórakozástól, ékszerek viselésétől<br>
                            <strong>8.</strong> magas, luxus ágy használatától<br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>

        </div>
    </div>




{% endblock %}