{% extends 'blog_info/blogBase.html' %}
{% load staticfiles %}
{% block body_block %}

<div class="container">
    <div class="row">


         <div class="col-sm-6 col-md-3 col-lg-6">

             <div class="thumbnail">
                <form id="contact-form" method="POST" action="{% url 'blog_info:blog_new_document' %}" enctype="multipart/form-data">
                    {%  csrf_token %}

                    <div class="controls">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_name">Title *</label>
                                    <input id="form_name" type="text" name="title" class="form-control"  value="{{title}}" placeholder="Title *" required="required" data-error="Title is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_lastname">Url*</label>
                                    <input id="form_lastname" type="text" name="url" class="form-control" value="{{url}}" placeholder="Url info*" required="required" data-error="Url info is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_email">Logo *</label>
                                    <input id="form_email" type="file" name="logo" class="form-control" value="{{logo}}" placeholder="Logo *" required="required" data-error="Valid logo is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-12">
                                <input type="submit" class="btn btn-success btn-send" value="Submit">
                            </div>
                        </div>
                    </div>



                </form>

             </div>
         </div>

{% endblock %}
